<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd  
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/task   
     http://www.springframework.org/schema/task/spring-task.xsd">

  <!-- spring task API: http://docs.spring.io/spring/docs/current/spring-framework-reference/html/scheduling.html -->

  <task:annotation-driven proxy-target-class="true" scheduler="javaweb-showcase-scheduler" executor="executorWithCallerRunsPolicy" />
  
  <task:executor id="executorWithCallerRunsPolicy" pool-size="10-20" queue-capacity="100" rejection-policy="CALLER_RUNS" />
  
  <task:scheduler id="javaweb-showcase-scheduler" pool-size="10" />
   
  <!-- 
  <task:scheduled-tasks>
    <task:scheduled ref="" method="" cron=""/>
  </task:scheduled-tasks>
   -->
  
  <!-- 
  <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
    <property name="schedulerName" value="javaweb-showcase-scheduler"/>
    <property name="startupDelay" value="10"/>
    <property name="triggers">
      <list>
      </list>
    </property>
  </bean>
  or
  <bean id="scheduler" class="org.springframework.scheduling.concurrent.ThreadPoolTaskScheduler">
    <property name="poolSize" value="10"/>    
  </bean>
   -->
 
</beans>