<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"  
    xsi:schemaLocation="
     http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd  
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context.xsd">
  <!-- 基础配置，为必须的配置，不可删除 -->
  <import resource="classpath:cfg/applicationContext-resources.xml"/>
  
  <!-- 
  <import resource="classpath:cfg/applicationContext-dataSource.multiple.hibernate.xml"/>
  <import resource="classpath:cfg/applicationContext-dataSource.multiple.mybatis.xml"/>
  
  <import resource="classpath:cfg/applicationContext-dataSource.atomikos.hibernate.xml"/>
  <import resource="classpath:cfg/applicationContext-dataSource.atomikos.mybatis.xml"/>
   -->
  <import resource="classpath:cfg/applicationContext-dataSource.xml"/>
  
  <!-- 以下为可选配置 ，可根据实际需要怎加或删除相关配置 -->
  <!-- 在此处导入其他 Spring 配置文件，配置文件功能尽量独立，并且不影响其他配置文件。 -->  
  <import resource="classpath:cfg/applicationContext-scheduler.xml"/>
  <!-- 
  <import resource="classpath:cfg/applicationContext-memcached.xml"/>
  <import resource="classpath:cfg/applicationContext-cache-ehcache.xml"/> 
   -->
  <import resource="classpath:cfg/applicationContext-cache-memcached.xml"/>
     
  <!-- follow add other spring cfgiguration files -->
  <import resource="classpath:cfg/applicationContext-mail.xml"/>
  <!-- 
  <import resource="classpath:cfg/applicationContext-hadoop.xml"/> 
  -->  
  
</beans>