<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="org/mybatis/example/BlogMapper.xml"/>
  </mappers>
</configuration>

<settings>
  <setting name="" value=""/>
</settings>

<typeAliases>
  <typeAlias alias="" type=""/>
</typeAliases>

<typeHandlers>
  <typeHandler handler="" javaType="" jdbcType=""/>
</typeHandlers>

<objectFactory type="">
  <property name="" value=""/>
</objectFactory>

<plugins>
  <plugin interceptor="">
    <property name="" value=""/>
  </plugin>
</plugins>

<databaseIdProvider type="DB_VENDOR">
  <property name="MySQL" value="mysql"/>
  <property name="SQL Server" value="sqlserver"/>
  <property name="DB2" value="db2"/>        
  <property name="Oracle" value="oracle" />
</databaseIdProvider>

<mappers>
  <mapper class="org.mybatis.builder.AuthorMapper" />
  <mapper resource="org/mybatis/builder/AuthorMapper.xml" />
  <mapper url="file:///var/mappers/AuthorMapper.xml" />
  
  <package name="org.mybatis.builder" />
</mappers>

